@font-face {
  font-family: "NanumSquareNeo";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf)
      format("truetype");
}

body {
  margin: 0;
  background-color: #ddd;
  font-family: "NanumSquareNeo", sans-serif;
  font-size: 3vmin;
  color: #222;
  line-height: 1.25;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  font-size: 2vmin;
}

th,
td {
  padding: 1vmin;
  text-align: center;
}

input {
  border: 1px solid #222;
  border-radius: 1vmin;
  padding: 0;
  width: 15vmin;
  height: 5vmin;
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 3vmin;
  color: #222;
  text-align: center;
}

a {
  font-size: 2vmin;
  color: #888;
  text-decoration: none;
}

#container {
  margin: auto;
}

#header {
  width: 100vmin;
  height: 20vmin;
  font-size: 5vmin;
}

#buttons {
  width: 40vmin;
  height: 10vmin;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  border: 1px solid #222;
  border-radius: 1vmin;
  width: 15vmin;
  height: 5vmin;
  background-color: white;
  font-size: 3vmin;
  color: #222;
  cursor: pointer;
}

#settings {
  height: 20vmin;
}

#content {
  display: none;
  height: 75vmin;
  flex-direction: row;
}

.column {
  width: 20vmin;
}

.row {
  height: 12vmin;
  justify-content: flex-start;
}

.title {
  height: 5vmin;
}

#grade {
  height: 5vmin;
}

.grade {
  height: 4vmin;
  color: #888;
}

.red {
  height: 4vmin;
  font-weight: bold;
  color: #ea4335;
}

.orange {
  height: 4vmin;
  font-weight: bold;
  color: #ff6d01;
}

.green {
  height: 4vmin;
  font-weight: bold;
  color: #34a853;
}

.blue {
  height: 4vmin;
  font-weight: bold;
  color: #4285f4;
}

#footer {
  height: 15vmin;
}
